.container__menu-title{
  text-align: center;
}
.container__menu-title h1{
  margin-bottom: 20px;
  font-size: 135px;
  font-family: 'Segoe UI', sans-serif;
  border-top: 1px solid rgb(29, 29, 29);
  border-bottom: 1px solid rgb(29, 29, 29);
}
