@media screen and (max-width: 1200px){
  .container__small-card{
    width: 500px;
  }
  .small-card__title{
    font-size: 15px;
  }
}

@media screen and (max-width: 900px){
  .container__small-card{
    width: 500px;
  }
  .small-card__title{
    font-size: 10px;
  }
  .small-card__photo img{
    width: 150px;
  }
}

@media screen and (max-width: 550px){
  .container__small-card{
    width: 300px;
  }
  .small-card__title{
    font-size: 8px;
  }
  .small-card__photo img{
    width: 110px;
  }
}
