.container__small-card{
  background: rgb(247, 245, 234);
  margin-bottom: 20px;
  width: 700px;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  padding: 1rem;
  box-shadow: 7px 6px 20px 0px #d4d4d48a;
}
.small-card__photo img{
  width: 200px;
  margin-right: 20px;
}
.small-card__title{
  margin-right: auto;
  font-size: 12px;
}
.small-card__title p{
  color: gray;
  padding: 8px 0;
}
