.container__content{
  border-top: 1px solid gray;
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.content__cover img{
  margin-top: 20px;
  width: 500px;
}

.content__title{
  border-bottom: 1px solid white;
  padding: 0 40px;
}
.content__title p{
  text-align: center;
  border-bottom: 1px solid white;
}
.content__description{
  margin-top: 15px;
}
.content__description p{
  color: rgb(29, 29, 29);
  padding: 20px;
  text-align: justify;
}
.noticiaCompleta{
  color: rgb(0, 4, 255);
}
.content__btn-voltar{
  margin: 20px;
  border: none;
}
.content__btn-voltar a{
  border: 1px solid rgb(0, 0, 0);
  padding: 5px 10px;
  color: rgb(29, 29, 29);
  transition: 0.1s;
}
.content__btn-voltar a:hover{
  color: white;
  background-color: black;
}
