<app-menu-title></app-menu-title>

<div class="container__arcticles">
  <div class="acrticles__main">
    <app-big-card id="0"></app-big-card>
    <app-big-card id="1"></app-big-card>
  </div>
  <div class="acrticles__others">
    <app-small-card id="2"></app-small-card>
    <app-small-card id="3"></app-small-card>
    <app-small-card id="4"></app-small-card>
    <app-small-card id="5"></app-small-card>
    <app-small-card id="6"></app-small-card>
    <app-small-card id="7"></app-small-card>
    <app-small-card id="8"></app-small-card>
  </div>
</div>
<hr>
