.container__menu-bar{
  padding: 15px;
}

.container__menu-bar ul{
  display: flex;
  gap: 20px;
}

.container__menu-bar ul li a{
  padding: 8px;
  color: rgb(134, 134, 134);
}

.container__menu-bar ul li a:hover{
  color: rgb(255, 255, 255);
}
