/* You can add global styles to this file, and also import other style files */
*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  color: rgb(43, 41, 6);
  font-family: 'Segoe UI', sans-serif;
  text-align: justify;
}
body{
  background-color: rgb(241, 241, 241);
}
a{
  text-decoration: none;
}
ul{
  list-style: none;
}
